.a11y-hidden{
    clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
}
body{
    background-color: bisque;
}
h2, p{
    padding: 0;
    margin: 0;
}
.wrap{
    width: 288px;
    height: 348px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 8px;
    background-color: #fff;
}
.wrap img{
    display: block;
    width: 100%;
}
.wrap h2{
    font-size: 16px;
    font-weight: 700;
    margin:25px 0 0 16px
}
.wrap .text-box{
    width: 256px;
    height: 40px;
    margin: 12px auto auto 16px;
    overflow: hidden;
}
.wrap .text-box p{
    font-size: 12px;
    font-weight: 400;
    color: #5A6A72;
    line-height: 20px;
}
.wrap a{
    text-decoration: underline;
    color: #000;
    display: block;
    font-size: 14px;
    font-weight: 700;
    margin: 19px 0 19px 22px;
}