.a11y-hidden{
    clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
}
body{
    background: no-repeat url(img/BG.gif);
    background-size: auto;
}
.character-head{
    width: 260px;
    height: 340px;
    /* box-shadow:inset 0 0 1px #333; */
    margin: auto;
    position: relative;
    z-index: 10;
}
.face {
    position: absolute;
    width: 260px;
    height: 260px;
    background-color: #DBB99A;
    border-radius:50% 50% 26% 26% / 76% 76% 24% 24%;
    bottom: 0;
}
.left-ear{
    position: absolute;
    width: 95px;
    height: 120px;
    top: 19px;
    left: 10px;
    background-color: #DBB99A;
    border-radius:50% 50% 26% 26% / 76% 76% 24% 24%;
    transform: rotate(325deg);
}
.right-ear{
    position: absolute;
    width: 95px;
    height: 120px;
    top: 19px;
    right: 10px;
    background-color: #DBB99A;
    border-radius:50% 50% 26% 26% / 76% 76% 24% 24%;
    transform: rotate(35deg);
}
.character-body{
    width: 380px;
    height: 400px;
    /* box-shadow:inset 0 0 1px #333; */
    margin: auto;
    position: relative;
}
.belly {
    position: absolute;
    width: 360px;
    height: 460px;
    background-color: #DBB99A;
    border-radius:50% 50% 26% 26% / 76% 76% 24% 24%;
    top: -60px;
    right: 0;
}
.left-arm{
    /* box-shadow: inset 0 0 5px #000; */
    position: absolute;
    width: 90px;
    height: 200px;
    top: -92px;
    left: 13px;
    background-color: #DBB99A;
    border-radius:50% 50% 26% 26% / 76% 76% 24% 24%;
    transform: rotate(305deg);
}
.right-arm{
    /* box-shadow: inset 0 0 5px #000; */
    position: absolute;
    width: 90px;
    height: 200px;
    top: -102px;
    right: -1px;
    background-color: #DBB99A;
    border-radius:50% 50% 26% 26% / 76% 76% 24% 24%;
    transform: rotate(55deg);
}
.left-leg{
    /* box-shadow: inset 0 0 5px #000; */
    position: absolute;
    width: 70px;
    height: 100px;
    bottom: 0px;
    left: 70px;
    background-color: #A4856F;
    border-radius:50% 50% 50% 50% / 76% 76% 24% 24%;
    transform: rotate(325deg);
}
.right-leg{
    /* box-shadow: inset 0 0 5px #000; */
    position: absolute;
    width: 70px;
    height: 100px;
    bottom: 0px;
    right: 100px;
    background-color: #A4856F;
    border-radius:50% 50% 50% 50% / 76% 76% 24% 24%;
    transform: rotate(325deg);
    }
.left-eye{
    width: 20px;
    height: 20px;
    background-color: #4D4C4C;
    border-radius: 50%;
    position: absolute;
    top:190px;
    left: 80px;
}
.right-eye{
    width: 20px;
    height: 20px;
    background-color: #4D4C4C;
    border-radius: 50%;
    position: absolute;
    top:190px;
    right: 80px;
}
.nose{
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 50% 50% / 35% 35% 65% 65% ;
    position: absolute;
    background-color: #4D4C4C;
    top: 220px;
    left:115px;
    z-index: 20;
}
.left-cheek{
    width: 30px;
    height: 30px;
    background-color: #FFE1DF;
    border-radius: 50%;
    position: absolute;
    top:230px;
    left: 40px;
    filter: blur(3px);
}
.right-cheek{
    width: 30px;
    height: 30px;
    background-color: #FFE1DF;
    border-radius: 50%;
    position: absolute;
    top:230px;
    right: 40px;
    filter: blur(3px);
}
/* .mouth{
    position: relative;
} */
.philter{
    width: 2px;
    height: 15px;
    background-color: #4D4C4C;
    position: absolute;
    bottom: 75px;
    left: 129px;
    z-index: 20;
}
.lip-top{
    width: 50px;
    height: 50px;
    border-radius: 20%;
    border-bottom: 2px solid #4D4C4C;
    position: absolute;
    bottom: 75px;
    left: 105px;
    z-index: 20;
}
.lip-hidden{
    width: 50px;
    height: 50px;
    border-radius: 20%;
    border-bottom: 2px solid #DBB99A;
    background-color: #DBB99A;
    position: absolute;
    bottom: 75px;
    left: 105px;
    z-index: 10;
}
.lip-bottom{
    width: 30px;
    height: 30px;
    background-color: #FFA6A6;
    border-radius: 50%;
    border: 2px solid #4D4C4C;
    position: absolute;
    bottom: 65px;
    left: 113px;
    z-index: 1;

}