@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {font-family: "SpoqaHanSansNeo-Regular";}
.wrap{
    border: 1px solid #DBDBDB;
    width: 350px;
    border-radius: 5px;
    box-sizing: border-box;
    margin:auto;
    padding: 18px 16px;
    font-size: 12px;
    font-weight: 400;
}
.a11y-hidden{
    clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
}
.login-btn{
    display: block;
    width: 318px;
    height: 40px;
    background-color: #711BFF;
    text-align: center;
    color: #fff;
    line-height: 40px;
    border-radius: 4px;
    margin: auto;
}
.login-btn img{
    height: 18px;
    vertical-align: middle;
}
.login-link{
    margin-top: 17px;
    position: relative;
}
.login-link a{
    text-decoration: none;
    color: #767676;
}
.login-link a:last-child{
    position: absolute;
    right: 0;
    padding-left: 16px;
    background:no-repeat left/25% url(../img/icon-user.png);
}
.login-link a:first-child{
    padding-left: 16px;
    background:no-repeat left/25% url(../img/icon-lock.png);
}